<h1>Appointment Booking</h1>
<div class="container-fluid">
<div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
       <form #appForm="ngForm" (ngSubmit)="onsubmit(appForm)">
        <!-- <div class="form-group" >
            <label>Date of Appointment</label>
            <input type="date" name="dateOfManufacture"  required #dateOfManufacture="ngModel" ngModel
                   class="form-control" 
                   [class.is-invalid]="dateOfManufacture.touched && dateOfManufacture.invalid && !productForm.submitted"
                   [(ngModel)]="product.dateOfManufacture">
            <small class="text-danger" [class.d-none]="dateOfManufacture.valid || dateOfManufacture.untouched || productForm.submitted">Date of Appointment required</small>
        </div> -->
        <div class="form-group" >
            <label>Date of Appointment</label>
            <input type="date" name="dateOfApp"  required #dateOfApp="ngModel" ngModel
                   class="form-control"  [min]="todayDate"
              >     
            <small class="text-danger" *ngIf="dateOfApp.invalid && dateOfApp.touched  ">Date of Appointment required</small>
        </div>
        <div class="form-group" >
            <label>Time of Appointment</label>
            <input type="time" name="timeOfApp"  required #timeOfApp="ngModel" ngModel
                   class="form-control" 
              >     
            <small class="text-danger" *ngIf="timeOfApp.invalid && timeOfApp.touched  ">Time of Appointment required</small>
        </div>
        <div class="form-group">
            <label>List of Doctor</label>
            <select class="custom-select"  name="doctorName" required #doctorName = "ngModel" ngModel >
                <option value="">select category</option>
                <option *ngFor="let n of nameList"  value={{n}}>{{n}}</option>
            </select>
             <!-- {{selected}}  -->
           
              <small class="text-danger" *ngIf="doctorName.invalid && doctorName.touched">category is required</small>
            
          </div> 
        <!-- <div class="form-group">
            <label>Time of Manufacture</label>
            <input type="time" name="timeOfManufacture" 
                   required #timeOfManufacture="ngModel" 
                   class="form-control" 
                   [class.is-invalid]="timeOfManufacture.touched && timeOfManufacture.invalid && !productForm.submitted"
                   [(ngModel)]="product.timeOfManufacture">
            <small class="text-danger" [class.d-none]="timeOfManufacture.valid || timeOfManufacture.untouched || productForm.submitted">Time of Manufacture is required</small>
        </div>-->
        <!-- <div class="form-group">
            <label>Product Category</label>
            <select class="custom-select" required
                    name="categoryName"
                    #categoryName = "ngModel"
                    [class.is-invalid]="categoryName.invalid && categoryName.touched && !productForm.submitted"
                    [(ngModel)]="product.category.categoryName">
                <option value="">select category</option>
                <option *ngFor="let category of nameList">
                    {{category}}
                </option>
            </select>
            <div *ngIf="categoryName.invalid && categoryName.touched && !productForm.submitted">
              <small class="text-danger">category is required</small>
            </div>
          </div>    -->

         
          <button class="btn btn-primary" type="submit" 
       [disabled]="appForm.invalid"  >Submit form</button> 
        </form> 
        
    </div>
  </div></div>
